.row {
  margin-right: 0;
  margin-left: 0;
}
.nav-custom {
  height: 10vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-direction: normal;
  animation-timing-function: ease-in;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.section-card-blurb {
  color: #36322a;
  text-shadow: 1px;
  font-size: 0.7em;
  padding-left: 25px;
  font-style: oblique;
}
.section-card-blurb-two {
  padding-right: 20px;
  font-size: 0.7em;
  color: #453922;
}
.banner-container {
  margin: 0px;

  padding: 0px;
  margin-top: 17vh;

  overflow-y: hide;
  width: 100vh;
  height: 83vh;
}

.img-card {
  border: 1 px solid black;
}

.section-header {
  height: 110px;
}

.section-header-header {
  font-size: 2.5em;
}

.portfolio-header {
  font-size: 1.8em;
}

.red {
  background-color: "red";
  color: black;
}

.about-container {
  background-color: #a3000c;
  color: white;
  min-height: 150px;
  height: auto;
}

.about-container-header {
  font-size: 3.5em;
}

.about-container-body {
  font-size: 2em;
}

.portfolio-container {
  background-color: black;
  color: white;
}

.section-container {
  height: 200px;
  margin: 0px;
  padding: 0px;
}

.cover-row {
  min-height: 280px;
  height: auto;
  z-index: 9;
  color: white;
}

.nav-link {
  background-color: white;
  border-bottom: 1px-solid gray;
}

html {
  font-size: 28px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.6em;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.8em;
  }
  .nav-custom {
    height: 8vh;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6em;
  }

  @include media-breakpoint-up(xl) {
    html {
      font-size: 1.6em;
    }
  }
}
